<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Error parsing photo data.</string>
	<key>3</key>
	<string>Tag must be longer than 1 characters.</string>
	<key>112</key>
	<string>Invalid method call.</string>
	<key>100</key>
	<string>Invalid API Key</string>
</dict>
</plist>
